.gridContainer {
  padding: 1%;
}
.home_intro {
  text-align: left;
  margin: 4%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.home_img1 {
  width: 100%;
}

.home_intro {
  margin-top: 2%;
}
